# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
.venv/*
venv/
venv/*
.python-version

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.sw?
*.swn
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
